<script>
    // Components
    // Libraries
    import {locale, t} from '$lib/translations';
</script>
<div class="container">
  <div class="row g-4">
<div class="col-sm-4 col-xs-12 text-center">
<img src="/xyz.png" alt="" class="img-fluid m-5 p-0 hovery" width="200px" height="200px">  
</div>
<div class="col-sm-8 col-xs-12 text-center">
  <h1 class="m-5 p-4">HI! I am Agamurian, media&#8209;artist, developer and 3D&nbsp;Generalist</h1>
</div>
  </div>
</div>

<hr>
<div class="container my-0 pt-0">
  <p style="margin-top: 2rem; margin-bottom: 1.5rem;">Recent Projects:</p>
  <div class="row g-4 p-0 ">

  <div class="col-sm-6 col-xs-12">
    <div class="card m-2 " style="max-width: 100%;">
      <a href="https://skis.host"><div class="card-header btn">SKIS</div></a>
      <div class="card-body">
        <img src="/skis_about.webp" class="img-fluid p-4"/>
        <span>Static Site Generator based on sveltekit + mdsvex + i18n + bootstrap5</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="card m-2 " style="max-width: 100%;">
      <a href="https://klukwa.art"><div class="card-header btn">Klukwa</div></a>
      <div class="card-body">
        <img src="/klukwa_scr.png" class="img-fluid pb-4"/>
        <span>Expiremental Audio-Visual Plainair website</span>
      </div>
    </div>
  </div>


</div>
  </div>
  <br/>
<hr>
  <div class="container pt-3">

    <!-- Three columns of text below the carousel -->
    <div class="row g-4 p-0">
      <div class="col-lg-4">

        <h2 class="d-sticky sticky ">Web dev:</h2>
        <br/>
<div class="card text-white bg-dark halfblack m-2 mb-5 pr-5 stycky-top" style="max-width: 99%;">
  <a href="https://skis.host"><div class="card-header btn h2">SKIS</div></a>
  <div class="card-body">
        <h2>Based on Sveltekit</h2>
        <p class="card-text">dynamic routing and static site generation, also svelte support</p>
  </div>
</div>
<div class="card text-white bg-dark halfblack m-2 mb-5 pr-5 stycky-top" style="max-width: 99%;">
  <a href="https://gitlab.com/agamura/xyz/"><div class="card-header btn h2">Source Code</div></a>
  <div class="card-body">
        <h2>This website</h2>
        <p class="card-text">this website is made by me on my framework skis</p>
  </div>
</div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <h2>3D Graphics:</h2>
        <br/>
<div class="card text-white bg-dark halfblack m-2 mb-5 pr-5 stycky-top" style="max-width: 99%;">
  <a href="3d/rig"><div class="card-header btn h2">RIG</div></a>
  <div class="card-body">
        <h2>Rig & Animation</h2>
        <p class="card-text">Animations suitable for game engines</p>
  </div>
</div>
<div class="card text-white bg-dark halfblack m-2 mb-5 pr-5 stycky-top" style="max-width: 99%;">
  <a href="3d/param_anim"><div class="card-header btn h2">Param_anim</div></a>
  <div class="card-body">
        <h2>Parametric animation:</h2>
        <p class="card-text">with noise, sin & limits in Blender</p>
  </div>
</div>
<br>
        <a class="btn btn-secondary" href="gallery">Gallery</a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <h2>Artworks:</h2>
        <br/>
<div class="card text-white bg-dark halfblack m-2 mb-5 pr-5 stycky-top pb-0" style="max-width: 99%;">
  <a href="projects/procrastinator"><div class="card-header btn h2">Procrastinator</div></a>
  <div class="card-body">
    <img class="img-fluid rounded" src="https://raw.githubusercontent.com/agamurian/agamurian.github.io/master/assets/img/005.png" />
        <p class="mt-4">scripting pseudo-interactive realtime narrative</p>
  </div>
</div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div><!-- /.container -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
