<script>
	import * as THREE from 'three';
	import * as SC from 'svelte-cubed';
</script>

<SC.Canvas	antialias 
						fog={new THREE.FogExp2('papayawhip', 0.1)}
						shadows
						background={new THREE.Color('transparent')} >

	<SC.Mesh geometry={new THREE.BoxGeometry()} />
	<SC.PerspectiveCamera position={[1, 1, 3]} />
	<SC.OrbitControls enableZoom={false} />

</SC.Canvas>

